name: calorie_calculator_app
description: "A new Flutter project."

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.10.7


dependencies:
  flutter:
    sdk: flutter

  image_picker: ^1.2.1
  cupertino_icons: ^1.0.8
  google_generative_ai: ^0.4.7

dev_dependencies:
  flutter_test:
    sdk: flutter

 
  flutter_lints: ^6.0.0


flutter:

  
  uses-material-design: true
